<br/>
<center><h2>Welcome to Blackjack, <em><%= session[:username] %></em>. Cheers!</h2></center>
<hr>

<div class="row">
  <div class="span6">
    <h3><%= session[:username] %>'s Cards</h3>
    <div>
      <% session[:player_cards].each do |card| %> 
      <span>
        <ul>
          <li><%= find_face_value(card[1]) %> of <%= find_suit(card[0]) %></li>
        </ul>
      </span>
      <% end %>
    </div>
  </div>
  
  <div class="span6">
    <h3>Dealer's Cards</h3>
    <div>

      <% if @game_over == true %>
        <% session[:dealer_cards].each_with_index do |card, index| %> 
          <span>
            <ul>
              <li><%= find_face_value(card[1]) %> of <%= find_suit(card[0]) %></li>
            </ul>
         </span>
        <% end %>
      <% else %>
        <span>
          <ul>
            <li>Unknown Card</li>
          </ul>
        </span>
        <span>
          <ul>
            <li><%= find_face_value(session[:dealer_cards][1][1]) %> of <%= find_suit(session[:dealer_cards][1][0]) %></li>
          <ul>
        </span>
      <% end %>
    </div>
  </div>

</div>

<div>
  <h4 class="span6"><%= session[:username] %>'s total is: <em><%= sum(session[:player_cards]) %></em></span></h4>
  <% if @game_over == true %>
  <h4 class="span6">Dealer's total is: <em><%= sum(session[:dealer_cards]) %><</em>/span></h4>
  <% end %>
</div>
<br/>
<br/>
<hr>

<div class="span6">

<% if @game_over %>
  <a class="btn btn-large btn-block btn-primary" href="/">New Game?</a> 
<% else %>

  <form action="/game/hit" method="post">
    <fieldset>
      <button type="submit" class="btn btn-large btn-success btn-block">Hit Me!</button>
    </fieldset>
  </form>
  <p><em><center>- or -<center></em></p>
  <form action="/game/stay" method="post">
    <fieldset>
      <button type="submit" class="btn btn-large btn-danger btn-block">Stay!</button>
    </fieldset>
  </form>
</div>

<% end %>
