<h1>Blackjack Sinatra</h1>
<p>Welcome to Blackjack <%= session[:username] %>. Good Luck!</p>

<div class="row">
  <div class="span6">
    <h3>Player Cards</h3>
    <div class="cards player-cards">
      <% session[:player_cards].each do |card| %> 
      <span class="card">
        <img src="/images/cards/<%= find_suit(card[0]) %>_<%= find_face_value(card[1]) %>.jpg" /></span>
      <% end %>
    </div>
  </div>
  
  <div class="span6">
    <h3>Dealer Cards</h3>
    <div class="cards dealer-cards">

      <% if @game_over == true %>
        <% session[:dealer_cards].each_with_index do |card, index| %> 
          <span class="card <%= index %> ">
            <img src="/images/cards/<%= find_suit(card[0]) %>_<%= find_face_value(card[1]) %>.jpg" />
         </span>
        <% end %>
      <% else %>
        <span class="card">
            <img src="/images/cards/cover.jpg" />
        </span>
        <span class="card">
          <img src="/images/cards/<%= find_suit(session[:dealer_cards][1][0]) %>_<%= find_face_value(session[:dealer_cards][1][1]) %>.jpg" />
        </span>
      <% end %>
    </div>
  </div>

</div>

<div class="totals row">
  <h4 class="total player-total span6">Your total is: <%= total(session[:player_cards]) %></span></h4>
  <% if @game_over == true %>
  <h4 class="total dealer-total span6">Dealer total is: <%= total(session[:dealer_cards]) %></span></h4>
  <% end %>
</div>

<hr>

<% if @game_over %>
  <a class="btn btn-large btn-block btn-primary" href="/">New Game?</a> 
<% else %>

<div class="hit-or-stay row">

  <form action="/game/hit" method="post" class="span6">
    <fieldset>
      <button type="submit" class="btn btn-large btn-success btn-block"><i class="icon-plus"></i> Hit</button>
    </fieldset>
  </form>

  <form action="/game/stay" method="post" class="span6">
    <fieldset>
      <button type="submit" class="btn btn-large btn-danger btn-block"><i class="icon-ban-circle"></i> Stay</button>
    </fieldset>
  </form>
</div>

<% end %>
